html {
  --base03: #002b36;
  --base02: #073642;
  --base01: #586e75;
  --base00: #657b83;
  --base0: #839496;
  --base1: #93a1a1;
  --base2: #eee8d5;
  --base3: #fdf6e3;
  --yellow: #b58900;
  --orange: #cb4b16;
  --red: #dc322f;
  --magenta: #d33682;
  --violet: #6c71c4;
  --blue: #268bd2;
  --cyan: #2aa198;
  --green: #859900;
}

html {
  background-color: var(--base03);
  color: var(--base3);
  font-size: 62.5%;
}

.App {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}

.complete {
  text-decoration: line-through;
}

button {
  background-color: var(--base3);
  color: var(--base03);
  border: none;
  padding: 10px;
  font-size: 2rem;
  border-radius: 4px;
}

input {
  font-size: 2rem;
  padding: 10px;
  margin-right: 10px;
  border: none;
  border-bottom: 1px solid var(--base3);
  background-color: var(--base03);
  color: var(--base3);
}

.clear-completed {
  margin: 1.25em;
}

.todolist {
  margin-bottom: 1.5em;
}
